# recommendation-systems

Write a function that recommends 5 beauty products for each user based on popularity among other users.

Write a function that recommends 5 beauty products for each user based on next items purchased by other users.

pd.read_json

lines=True

In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
# Read data

beauty_df = pd.read_json('Beauty.json', lines=True)

In [3]:
# head check

beauty_df.head()

,overall,verified,reviewTime,reviewerID,asin,style,reviewerName,reviewText,summary,unixReviewTime,vote,image,date
0,5,True,"09 1, 2016",A3CIUOJXQ5VDQ2,B0000530HU,"{'Size:': ' 7.0 oz', 'Flavor:': ' Classic Ice ...",Shelly F,As advertised. Reasonably priced,Five Stars,1472710720,None,None,2016-09-01 06:18:40
1,5,True,"11 14, 2013",A3H7T87S984REU,B0000530HU,"{'Size:': ' 7.0 oz', 'Flavor:': ' Classic Ice ...",houserules18,Like the oder and the feel when I put it on my...,Good for the face,1384468143,None,None,2013-11-14 22:29:03
2,1,True,"08 18, 2013",A3J034YH7UG4KT,B0000530HU,"{'Size:': ' 7.0 oz', 'Flavor:': ' Classic Ice ...",Adam,I bought this to smell nice after I shave. Wh...,Smells awful,1376831082,None,None,2013-08-18 13:04:42
3,5,False,"05 3, 2011",A2UEO5XR3598GI,B0000530HU,"{'Size:': ' 7.0 oz', 'Flavor:': ' Classic Ice ...",Rich K,HEY!! I am an Aqua Velva Man and absolutely lo...,Truth is There IS Nothing Like an AQUA VELVA MAN.,1304424552,25,None,2011-05-03 12:09:12
4,5,True,"05 6, 2011",A3SFRT223XXWF7,B00006L9LC,{'Size:': ' 200ml/6.7oz'},C. C. Christian,If you ever want to feel pampered by a shampoo...,Bvlgari Shampoo,1304690578,3,None,2011-05-06 14:02:58

In [4]:
# Make new df with only columns to use

pop_df = beauty_df[['overall', 'reviewerID', 'asin']]

pop_df.head()

   overall      reviewerID        asin
0        5  A3CIUOJXQ5VDQ2  B0000530HU
1        5  A3H7T87S984REU  B0000530HU
2        1  A3J034YH7UG4KT  B0000530HU
3        5  A2UEO5XR3598GI  B0000530HU
4        5  A3SFRT223XXWF7  B00006L9LC

In [5]:
# Check for how many unique products

pop_df['asin'].nunique()

85

In [6]:
# Make new dataframe grouped by each product with size mean and sum of ratings for each product, for ranking popularity

grouped_pop = pop_df.groupby('asin').agg({'overall' : [np.size, np.mean, np.sum]})
grouped_pop.head()

C:\Users\nick_\AppData\Local\Temp\ipykernel_27208\3602518735.py:3: FutureWarning: The provided callable <function mean at 0x0000028D458B34C0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  grouped_pop = pop_df.groupby('asin').agg({'overall' : [np.size, np.mean, np.sum]})
C:\Users\nick_\AppData\Local\Temp\ipykernel_27208\3602518735.py:3: FutureWarning: The provided callable <function sum at 0x0000028D458B23E0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  grouped_pop = pop_df.groupby('asin').agg({'overall' : [np.size, np.mean, np.sum]})

           overall
              size      mean   sum
asin
B0000530HU       4  4.000000    16
B00006L9LC     489  4.762781  2329
B00021DJ32       3  4.666667    14
B0002JHI1I       2  5.000000    10
B0006O10P4       6  4.666667    28

In [7]:
# Sort to see what is most "popular"

grouped_pop.sort_values(('overall', 'sum'), ascending=False)

           overall
              size      mean   sum
asin
B0012Y0ZG2    1794  4.846154  8694
B000URXP6E     858  4.837995  4151
B00006L9LC     489  4.762781  2329
B001OHV1H4     489  4.762781  2329
B0009RF9DW     392  4.941327  1937
...            ...       ...   ...
B0091OCA86       1  5.000000     5
B01DKQAXC0       1  5.000000     5
B00GHJOM2U       1  3.000000     3
B000W0C07Y       2  1.000000     2
B00B7V273E       1  2.000000     2

[85 rows x 3 columns]

In [8]:
# Assign ranks to all products based on aggregated popularity values

grouped_pop['rank'] = grouped_pop[('overall', 'sum')].rank(ascending=False)

In [9]:
# sort by rank

grouped_pop.sort_values(by='rank', ascending=True).head(50)

           overall                  rank
              size      mean   sum
asin
B0012Y0ZG2    1794  4.846154  8694   1.0
B000URXP6E     858  4.837995  4151   2.0
B00006L9LC     489  4.762781  2329   3.5
B001OHV1H4     489  4.762781  2329   3.5
B0009RF9DW     392  4.941327  1937   5.5
B000FI4S1E     392  4.941327  1937   5.5
B00W259T7G     163  4.773006   778   7.0
B0010ZBORW      98  4.040816   396   8.0
B0013NB7DW      40  4.500000   180   9.0
B001LNODUS      33  4.030303   133  10.5
B019FWRG3C      33  4.030303   133  10.5
B00RZYW4RG      22  4.818182   106  12.0
B01DLR9IDI      21  5.000000   105  13.0
B01E7UKR38      23  4.434783   102  14.0
B019809F9Y      22  4.363636    96  15.0
B000GLRREU      15  4.600000    69  16.5
B000FOI48G      15  4.600000    69  16.5
B00DY59MB6      18  3.388889    61  18.0
B001ET7FZE      13  4.615385    60  20.0
B01BNEYGQU      13  4.615385    60  20.0
B00EYZY6LQ      14  4.285714    60  20.0
B00JF2GVWK      12  4.916667    59  22.0
B000NKJIXM      15  3.733333    56  23.0
B00L1I1VMG      12  4.000000    48  24.5
B00QXW95Q4      10  4.800000    48  24.5
B00HLXEXDO       9  5.000000    45  26.0
B00IJHY54S       8  5.000000    40  28.0
B00CQ0LN80       8  5.000000    40  28.0
B00N2WQ2IW       9  4.444444    40  28.0
B016V8YWBC       8  4.750000    38  30.0
B000VV1YOY       8  4.500000    36  31.0
B002GP80EU       9  3.888889    35  32.0
B00MTR49IG       7  4.857143    34  33.0
B004CALFE4       7  4.714286    33  34.0
B008YQM4A6       8  3.875000    31  35.0
B00VG1AV5Q       6  5.000000    30  36.0
B001E96LUO       7  4.142857    29  37.0
B004KEJ65C       6  4.666667    28  39.5
B00B9V9ASM       6  4.666667    28  39.5
B007V6JNE0      10  2.800000    28  39.5
B0006O10P4       6  4.666667    28  39.5
B019V2KYZS       6  4.333333    26  42.5
B0017TZD7S       8  3.250000    26  42.5
B00VARTPKS       5  5.000000    25  46.0
B00AKP21KM       5  5.000000    25  46.0
B007R6UXNY       5  5.000000    25  46.0
B00UWB35UY       5  5.000000    25  46.0
B019LAI4HU       5  5.000000    25  46.0
B006IB5T4W       5  4.800000    24  49.5
B00BSE3III       5  4.800000    24  49.5

In [10]:
# Make function to return top 5 most popular products for recommendation, do not include products someone has already reviewed

def popularity(reviewer_id, pop_df, df, n_recs):
  reviewed = pop_df.loc[pop_df['reviewerID'] == reviewer_id, 'asin']
  not_reviewed = df[~df.index.isin(reviewed)]
  top_n = not_reviewed.sort_values(by='rank', ascending=True).head(n_recs)
  top_n = top_n.reset_index()
  most_pop = pd.DataFrame({
    'asin' : top_n['asin'],
    'average_rating' : top_n[('overall', 'mean')],
    'rank' : top_n['rank']
  })
  return most_pop

In [11]:
# test function

popularity('A3PQ3YQZYJ66HK', pop_df, grouped_pop, 5)

         asin  average_rating  rank
0  B00006L9LC        4.762781   3.5
1  B001OHV1H4        4.762781   3.5
2  B00W259T7G        4.773006   7.0
3  B0010ZBORW        4.040816   8.0
4  B0013NB7DW        4.500000   9.0

In [12]:
# Create dataframe with timestamp information to start building recommendations based on last reviewed product

reviewed = beauty_df[['reviewerID', 'asin', 'overall', 'unixReviewTime']]
reviewed.head()

       reviewerID        asin  overall  unixReviewTime
0  A3CIUOJXQ5VDQ2  B0000530HU        5      1472710720
1  A3H7T87S984REU  B0000530HU        5      1384468143
2  A3J034YH7UG4KT  B0000530HU        1      1376831082
3  A2UEO5XR3598GI  B0000530HU        5      1304424552
4  A3SFRT223XXWF7  B00006L9LC        5      1304690578

In [13]:
# Sort values so IDs are grouped and sorted by time

reviewed = reviewed.sort_values(by=['reviewerID', 'unixReviewTime', 'asin'], ascending=True)
reviewed.head(10)

          reviewerID        asin  overall  unixReviewTime
737   A105A034ZG9EHO  B0009RF9DW        5      1404618865
2897  A105A034ZG9EHO  B0012Y0ZG2        5      1404631129
1976  A105A034ZG9EHO  B000URXP6E        5      1404640206
1120  A105A034ZG9EHO  B000FI4S1E        5      1404658381
3887  A105A034ZG9EHO  B0012Y0ZG2        5      1404664482
2094  A10JB7YPWZGRF4  B000URXP6E        5      1376396092
3015  A10JB7YPWZGRF4  B0012Y0ZG2        5      1376397868
4005  A10JB7YPWZGRF4  B0012Y0ZG2        5      1376432449
809   A10JB7YPWZGRF4  B0009RF9DW        5      1376433025
1192  A10JB7YPWZGRF4  B000FI4S1E        5      1376436115

In [14]:
# make empty column for next product reviewed

reviewed['next_product'] = np.nan
reviewed.head()

          reviewerID        asin  overall  unixReviewTime  next_product
737   A105A034ZG9EHO  B0009RF9DW        5      1404618865           NaN
2897  A105A034ZG9EHO  B0012Y0ZG2        5      1404631129           NaN
1976  A105A034ZG9EHO  B000URXP6E        5      1404640206           NaN
1120  A105A034ZG9EHO  B000FI4S1E        5      1404658381           NaN
3887  A105A034ZG9EHO  B0012Y0ZG2        5      1404664482           NaN

In [15]:
# Loop over all products reviwed and add next product reviewed for each client to the new product column

for i, product in enumerate(reviewed['asin'][:-1]):
  if reviewed.iloc[i]['reviewerID'] == reviewed.iloc[i+1]['reviewerID']:
    reviewed.loc[reviewed.index[i], 'next_product'] = reviewed.iloc[i+1]['asin']

reviewed[50:100]

C:\Users\nick_\AppData\Local\Temp\ipykernel_27208\6344042.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'B0012Y0ZG2' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  reviewed.loc[reviewed.index[i], 'next_product'] = reviewed.iloc[i+1]['asin']

          reviewerID        asin  overall  unixReviewTime next_product
5072  A11QGZ39A7ZF0X  B01DLR9IDI        5      1534745779   B01DLR9IDI
5073  A11QGZ39A7ZF0X  B01DLR9IDI        5      1534767701   B01DLR9IDI
5070  A11QGZ39A7ZF0X  B01DLR9IDI        5      1534769243   B01DLR9IDI
5071  A11QGZ39A7ZF0X  B01DLR9IDI        5      1534782606   B01DLR9IDI
5067  A11QGZ39A7ZF0X  B01DLR9IDI        5      1534782660   B01DLR9IDI
5069  A11QGZ39A7ZF0X  B01DLR9IDI        5      1534796101          NaN
4969  A1210QJT54O8T0  B00W259T7G        5      1381312474   B00W259T7G
4968  A1210QJT54O8T0  B00W259T7G        5      1383538023   B00W259T7G
4966  A1210QJT54O8T0  B00W259T7G        5      1391223618   B00W259T7G
4967  A1210QJT54O8T0  B00W259T7G        5      1391230777   B00W259T7G
4965  A1210QJT54O8T0  B00W259T7G        5      1391268986   B00W259T7G
4961  A1210QJT54O8T0  B00W259T7G        5      1406841619   B00W259T7G
4951  A1210QJT54O8T0  B00W259T7G        5      1414267497          NaN
2432  A121C9UWQFW5W6  B0012Y0ZG2        5      1478489326   B000FI4S1E
931   A121C9UWQFW5W6  B000FI4S1E        5      1478505401   B000URXP6E
1510  A121C9UWQFW5W6  B000URXP6E        5      1478526634   B00CQ0LN80
5170  A121C9UWQFW5W6  B00CQ0LN80        5      1478527228   B0012Y0ZG2
3422  A121C9UWQFW5W6  B0012Y0ZG2        5      1478537424   B0009RF9DW
548   A121C9UWQFW5W6  B0009RF9DW        5      1478558856          NaN
4668  A125PSVY71Q7KZ  B001OHV1H4        5      1368584705   B0012Y0ZG2
3046  A125PSVY71Q7KZ  B0012Y0ZG2        5      1368587060   B0012Y0ZG2
4036  A125PSVY71Q7KZ  B0012Y0ZG2        5      1368588668   B00006L9LC
468   A125PSVY71Q7KZ  B00006L9LC        5      1368622591   B000URXP6E
2125  A125PSVY71Q7KZ  B000URXP6E        5      1368625763          NaN
4610  A125TMC44CJBKK  B001OHV1H4        5      1405125647   B00006L9LC
410   A125TMC44CJBKK  B00006L9LC        5      1405159348   B000URXP6E
1972  A125TMC44CJBKK  B000URXP6E        5      1405161909   B0012Y0ZG2
2893  A125TMC44CJBKK  B0012Y0ZG2        5      1405193219   B0012Y0ZG2
3883  A125TMC44CJBKK  B0012Y0ZG2        5      1405193897          NaN
447   A12B5Y225ADJWE  B00006L9LC        5      1382511174   B0012Y0ZG2
2985  A12B5Y225ADJWE  B0012Y0ZG2        5      1382517749   B000URXP6E
2064  A12B5Y225ADJWE  B000URXP6E        5      1382528858   B001OHV1H4
4647  A12B5Y225ADJWE  B001OHV1H4        5      1382538235   B0012Y0ZG2
3975  A12B5Y225ADJWE  B0012Y0ZG2        5      1382546457          NaN
4532  A12BLGAAZBUU96  B001OHV1H4        5      1434508885   B000URXP6E
1811  A12BLGAAZBUU96  B000URXP6E        5      1434555052   B0012Y0ZG2
3723  A12BLGAAZBUU96  B0012Y0ZG2        5      1434566359   B00006L9LC
332   A12BLGAAZBUU96  B00006L9LC        5      1434573950   B0012Y0ZG2
2733  A12BLGAAZBUU96  B0012Y0ZG2        5      1434575721          NaN
3305  A12HTKLZWLEAF5  B0012Y0ZG2        5      1506835889   B0012Y0ZG2
2315  A12HTKLZWLEAF5  B0012Y0ZG2        5      1506859495   B001OHV1H4
4257  A12HTKLZWLEAF5  B001OHV1H4        5      1506872687   B000URXP6E
1393  A12HTKLZWLEAF5  B000URXP6E        5      1506881970   B00006L9LC
56    A12HTKLZWLEAF5  B00006L9LC        5      1506892444          NaN
1037  A12HWYJ6G58FGV  B000FI4S1E        5      1434503256   B0012Y0ZG2
3722  A12HWYJ6G58FGV  B0012Y0ZG2        5      1434504362   B0012Y0ZG2
2732  A12HWYJ6G58FGV  B0012Y0ZG2        5      1434524255   B000URXP6E
1810  A12HWYJ6G58FGV  B000URXP6E        5      1434532536   B0009RF9DW
654   A12HWYJ6G58FGV  B0009RF9DW        5      1434561575          NaN
3841  A12I397MEWA1VB  B0012Y0ZG2        5      1412397407   B000URXP6E

In [16]:
# Take a look at value counts for a specific product to test and see what the next top reviewed products are

reviewed.loc[reviewed['asin'] == 'B0012Y0ZG2', 'next_product'].value_counts()

next_product
B0012Y0ZG2    376
B000URXP6E    357
B001OHV1H4    187
B00006L9LC    173
B0009RF9DW    154
B000FI4S1E    154
B00RZYW4RG      7
B00UWB35UY      5
B00AKP21KM      3
B00CQ0LN80      3
B00MTR49IG      3
B00HLXEXDO      3
B00QXW95Q4      3
B00VARTPKS      3
B00IJHY54S      2
B019V2KYZS      2
B007R6UXNY      2
B00JF2GVWK      2
B004KEJ65C      2
B006IB5T4W      1
B00157OBRU      1
B0014SQQ3M      1
B00BSE3III      1
B00VG1AV5Q      1
B00B9V9ASM      1
B004CALFE4      1
B00126LYJM      1
Name: count, dtype: int64

In [22]:
# Function to return the next top products based on a spefiic product

def rec_next_prod(ordered_next_df, product, n_recs=None) -> pd.Series:
  """
  Enter ASIN in quotes, plus a number (n). This will return the N products reviewed after the ASIN that was entered

  I.E -- Enter B0012Y0ZG2 and the number 5, you will get a list of the 5 most common movies watched after Star Wars (1977)
  """
  rec_prod =  ordered_next_df.loc[ordered_next_df['asin'] == product, 'next_product'].value_counts()
  if n_recs is not None:
    rec_prod = rec_prod.head(n_recs)
  return rec_prod

In [23]:
# Test function

rec_next_prod(reviewed, 'B0012Y0ZG2', 5)

next_product
B0012Y0ZG2    376
B000URXP6E    357
B001OHV1H4    187
B00006L9LC    173
B0009RF9DW    154
Name: count, dtype: int64

In [33]:
# Make function to recommend next 5 products based on user and product reviewed

def rec_for_user(reviewer_id, n_recs, ordered_next_df):
  user_prods = ordered_next_df.loc[ordered_next_df['reviewerID'] == reviewer_id]
  last_prod = user_prods.sort_values(by='unixReviewTime')['asin'].tail(1).values[0]
  next_prod = rec_next_prod(ordered_next_df, last_prod, n_recs=None)
  next_prod = next_prod[~next_prod.index.isin(user_prods['asin'])]
  return next_prod.head(n_recs)

In [36]:
# Test function

rec_for_user('A12BLGAAZBUU96', 5 , reviewed)

next_product
B0009RF9DW    154
B000FI4S1E    154
B00RZYW4RG      7
B00UWB35UY      5
B00AKP21KM      3
Name: count, dtype: int64

In [42]:
# Make function that combines both, gives top 5 most reviewed first if they have reviewed already, gives most popular if they have not

def full_rec(reviewer_id, n_recs, ordered_next_df):
  if reviewer_id in ordered_next_df['reviewerID'].values:
    return rec_for_user(reviewer_id, n_recs, ordered_next_df)
  else:
    return popularity(reviewer_id, pop_df, grouped_pop, n_recs)

In [45]:
# test with unknown user ID

full_rec('test', 5, reviewed)

         asin  average_rating  rank
0  B0012Y0ZG2        4.846154   1.0
1  B000URXP6E        4.837995   2.0
2  B00006L9LC        4.762781   3.5
3  B001OHV1H4        4.762781   3.5
4  B0009RF9DW        4.941327   5.5

In [46]:
# test with known user ID

full_rec('A12BLGAAZBUU96', 5, reviewed)

next_product
B0009RF9DW    154
B000FI4S1E    154
B00RZYW4RG      7
B00UWB35UY      5
B00AKP21KM      3
Name: count, dtype: int64